<html lang="en">

<head>
    <title>Rules Config</title>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <style>
        ol, ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .clickable { cursor: pointer; }
    </style>
</head>

<body>
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="true" href="/rules">Rules</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/other_config">Other Config</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th style="width:50%">Domain</th>
              <th>Subject</th>
              <th>Policy</th>
            </tr>
           </thead>
           <tbody>
               {% for rule in acl %}
                    <tr class="clickable "
		   onclick="window.location='/edit_rule/{{loop.index - 1}}'">
                       <td>
                           {% if "domain" in rule %}
                               <ol>
                                   {% if rule.domain[0]|count > 1 %}
                                       {% for domain in rule.domain %}
                                          <li>{{ domain }}</li>
                                       {% endfor %}
                                   {% else %}
                                       <li>{{ rule.domain }}</li>
                                   {% endif %}
                               </ol>
                           {% else %}
                               {{ rule.domain_regex }}
                           {% endif %}
                       </td>
                       <td>
                            <ol>
                                {% if "subject" in rule  %}
                                    {% if rule.subject[0]|count > 1 %}
                                        {% for sub in rule.subject %}
                                            <li>{{ sub }}</li>
                                        {% endfor %}
                                    {% else %}
                                        <li>{{ rule.subject }}</li>
                                    {% endif %}
                                {% else %}
                                    <li>No subject</li>
                                {% endif %}
                            </ol>
                       </td>
                       <td>{{ rule.policy }}</td>
                    </tr>
                {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{#jQuery(document).ready(function($) {#}
{#    $(".clickable-row").click(function() {#}
{#        window.location = $(this).data("href");#}
{#    });#}
{#});#}

</body>

</html>